.col {
    a {
        img {
            width: 150px;
            height: 150px;
            text-align: center;

            &:hover {
                box-shadow: 0 0 20px white;
            }
        }


    }

    p {
        font-size: 0.8rem;
    }
}