footer {
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    a {
        margin: 0;
        padding: 0;
        color: $lightgrey;

        &:hover {
            color: white;
        }
    }
}



.social {
    background-color: $grey;

    .btn-sign-up {
        padding: 10px 20px;
        border: 2px $primary solid;
        color: white;

        &:hover {
            border: 2px white solid;
        }
    }

    h5 {
        color: $primary;
    }

}