main {
    background-color: black;

    .main-content {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    h1 {
        color: white;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}